
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Signin</h1>
                        <h6>please enter email & password</h6>
                       
                </div>
                <form>
                   
                    <form>
                   
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <div id="emailHelp" class="form-text"></div>
                        </div>
             
                   
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <button type="submit" class="btn btn-primary">Signin</button>
                      </form>
                      <a style="color:#fff" routerLink="/Signup">New user?click to Signup!!</a>
                   
                </form>
            </div>
        </div>
    </div>
  
  </div>