<!-- Topic Cards -->
<div id="cards_landscape_wrap-2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="./assets/images/imgspinal1.jpg" width="100%" alt="">
                            </div>
                            <div class="text-container">
                                <h6>Spinal Injections</h6>
                                <p>Spinal injections are used in two ways. First, they can be performed to diagnose the source of back, leg, neck, or arm pain (diagnostic). Second, spinal injections can be used as a treatment to relieve pain (therapeutic).Most spinal injections are performed as one part of a more comprehensive treatment program. </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="./assets/images/imgroot.jpg" width="100%" alt="">
                            </div>
                            <div class="text-container">                                    
                                <h6>Spinal root block</h6>
                                <p>Injections performed in and around the vertebral column,Spinal cord,and nerve roots.Combination or assorted injections of local anesthetics,steroids.A selective nerve root block is a procedure where a small amount of corticosteroid medication and a local anesthetic agent is injected around a very specific nerve root or spinal nerve that exits out of the spinal cord</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="./assets/images/imgface1.jpg" width="100%" alt="">
                            </div>

                            <div class="text-container">
                                <h6>Facetal root blocks</h6>
                               <p>Two of the most common and effective treatments are facet blocks and nerve blocks. A facet block is an injection of local anesthetic and steroid that reduces the inflammation in the joint space of the spine. The facet joints are located in the neck, chest, and back at each vertebral level.Facet injections and medial branch blocks can provide months of relief.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="./assets/images/imgtrans.jpg" width="100%" alt="">
                            </div>
                            <div class="text-container">
                                <h6>Transforaminal root block</h6>
                               <p> A transforaminal or selective nerve root block is an injection of local anesthetic and steroid injected under x-ray guidance into the area where the nerve exits the spinal column. A block is usually ordered by your doctor for pain in the arm or leg that follows the path of a single nerve.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>