<section class="contact">
  <div class="container">
    <div class="section-tittle text-center mt-5">
         <h2>Contact</h2>
 
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-md-12">
    
            <div class="contact-box">
              <i class="fa-solid fa-address-book"></i>
              
               <h3>Adress</h3>
               <p>Hospital zip code:4578</p>
            </div>
          </div>
          <div class="col-md-6">
             <div class="contact-box mt-4">
              
               <i class="fas fa-envelope"></i>
               <h3>Email</h3>
               <p>test@info.com
                 <br>contact@example.com
               </p>
             </div>
          </div>
          <div class="col-md-6">
            <div class="contact-box mt-4">
              <i class="fas fa-phone"></i>
              <h3>Call Us</h3>
              <p>+55 61 123 456 789<br>+55 61 987 654 321</p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-lg-6">
        <form>
          <div class="form-row">
            <div class="col-md-6 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Name">
            </div>
            <div class="col-md-6 form-group">
              <input type="email"  class="form-control" name="email" id="email" placeholder="email">

            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="subject" placeholder="subject">
          </div>
          <div class="form-group">
            <textarea class="form-control"name="message"rows="5"></textarea>
          </div>
          <div class="text-center">
             <button type="submit">Send Message</button>
          </div>
        </form>
      </div>
      </div>
    </div>

    
<section class="call">
    <div class="container">
         <div class="row">
            <div class="col-1g-4">
                 <h5></h5>
            </div>
         </div>
    </div>
</section>


<section class="call">
    <div class="container text-center py-5">
        <div class="row">
           <div class="col-1g-4 col-md-12  col-sm-12 col-12">
               <span><i class="fas fa-phone-alt"></i></span>
                <h5>Give Us a short call</h5>
           </div>
           <div class="col-1g-4 col-md-12  col-sm-12 col-12">
             <span><i class="fas fa-marker"></i></span>
             <h5>Search Us On Google</h5>
           </div>
           <div class="col-1g-4 col-md-12  col-sm-12 col-12">
             <span><i class="fas fa-envelope-square"></i></span>
             <h5></h5>
           </div>
    
        </div>
    </div>
  
</section>
