
     <!-- Topic Cards -->
     <div id="cards_landscape_wrap-2">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="./assets/images/ENT-Specialist.jpg" width="100%" alt="">
                                </div>
                                <div class="text-container">
                                    <h6>Otolaryngology</h6>
                                    <p>Otolaryngology is a medical specialty which is focused on the ears, nose, and throat. It is also called otolaryngology-head and neck surgery because specialists are trained in both medicine and surgery.  An otolaryngologist is often called an ear, nose, and throat doctor, or an ENT for short.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="./assets/images/imgc.jpg" width="100%" alt="">
                                </div>
                                <div class="text-container">                                    
                                    <h6>Cardiology</h6>
                                    <p>A cardiologist specializes in diagnosing and treating diseases of the cardiovascular system. The cardiologist will carry out tests,and theyperform some procedures,such as heart catheterizations, angioplasty, or inserting a pacemaker.A cardiologist can carry out tests for a heart murmur or an abnormal heart rhythm.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="./assets/images/imgh.jpg" width="100%" alt="">
                                </div>

                                <div class="text-container">
                                    <h6>Hypodermic Syringe</h6>
                                   <p>A hypodermic(hypo – under, dermic – the skin)needle is a hollow needle commonly used with a syringe to inject substances into the body .They may also be used to take liquid samples from the body, for example taking blood from a vein in venipuncture.a small syringe used with a hollow needle to inject material (as a vaccine) into or beneath the skin.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="./assets/images/imgb.jpg" width="100%" alt="">
                                </div>
                                <div class="text-container">
                                    <h6>Craniotomy</h6>
                                   <p>. A craniotomy is the most common type of operation for a brain tumour. The surgeon cuts out an area of bone from your skull. This gives an opening so that the surgeon can operate on the brain itself. You have scans before your operation to help the surgeon know where exactly the tumour is.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

<app-footer></app-footer>