
<h1 class="4">Hospital Content System </h1>

<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
<ul class="nav nav-tabs bg-primary">
  <li class="nav-item">
    <a class="nav-link"  routerLink="/home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/services">Services</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/doctor">Doctor</a>

  </li>
  
  <!-- Dropdown -->
  <li class="nav-item ">
    <a class="nav-link" routerLink="/treatements"> Treatements </a>
    
  </li>
  <li class="nav-item ">
    <a class="nav-link" routerLink="/non-operativetreatements" >Non-operativetreatements</a>
    
  </li>
  
  
  <li class="nav-item">
    <a class="nav-link" routerLink="/blog">Blog</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/contacts">Contacts</a>
  </li>
  
<li class="nav-item n">
  <a class="nav-link" routerLink="/signin">Sign in </a>
</li>
<li class="nav-item">
  <a class="nav-link" routerLink="/signup">Sign Up</a>
</li>
</ul>
</nav>
<!-- </nav> -->
    <router-outlet></router-outlet>
