<section id="team" class="pb-5">
       <div class="container text-center">
           <h5 class="section-title h1">OUR SERVICES</h5>
           <div class="row">
               <!-- Team member -->
               <div class="col-xs-12 col-sm-6 col-md-4">
                   <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                       <div class="mainflip">
                           <div class="frontside">
                               <div class="card">
                                   
                                         <div class="card-body text-center">
                                          <p><img class=" img-fluid" src="./assets/images/imgnurses.jpg"></p>
                                       <h4 class="card-title">Team Of Nurses</h4>
                                       <p class="card-text">Difficult problems require creative solutions. None of us are strangers to the nursing shortage affecting nurses and patients everyday in the US. Since this problem doesn’t look like it’s going away anytime soon, as nurse innovators, it’s time we put our thinking caps on. A novel solution to staffing demands may be new formations of an old practice, something called the Team Nursing Model. You may remember learning about Team Nursing in nursing school and probably practice it every shift without even realizing it. </p>
                                       <a href="#" class="btn btn-primary btn-sm"><i class="fas fa-briefcase-medical"></i><i class="fas fa-user-nurse"></i><i class="fa fa-plus"></i></a>
                                   </div>
                               </div>
                           </div>
                           <div class="backside">
                               <div class="card">
                                   <div class="card-body text-center mt-4">
                                       <h4 class="card-title">About Nurses</h4>
                                       <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                        
                                       <ul class="list-inline">
                                           <li class="list-inline-item">
                                               <a class="social-icon text-xs-center" target="_blank" href="#">
                                                 <i class="fas fa-briefcase-medical"></i>
                                                   <i class="fa fa-facebook"></i>
                                               </a>
                                           </li>
                                           <li class="list-inline-item">
                                               <a class="social-icon text-xs-center" target="_blank" href="#">
                                                   <i class="fa fa-twitter"></i>
                                               </a>
                                           </li>
                                           <li class="list-inline-item">
                                               <a class="social-icon text-xs-center" target="_blank" href="#">
                                                   <i class="fa fa-skype"></i>
                                               </a>
                                           </li>
                                           <li class="list-inline-item">
                                               <a class="social-icon text-xs-center" target="_blank" href="#">
                                                   <i class="fa fa-google"></i>
                                               </a>
                                           </li>
                                       </ul>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
               <!-- ./Team member -->
               <!-- Team member -->
               <div class="col-xs-12 col-sm-6 col-md-4">
                   <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                       <div class="mainflip">
                           <div class="frontside">
                               <div class="card">
                                   <div class="card-body text-center">
                                       <p><img class=" img-fluid" src="./assets/images/imgAidbox.jpg" alt="card image"></p>
                                       <h4 class="card-title">Aid Boxes</h4>
                                       <p class="card-text">First aid is when you give medical care to someone who has suffered a sudden accident or sickness. first aid refers to the initial assistance given to someone during a medical emergency. first aid entails providing treatment to someone who has sustained a minor injury.Having first aid education would make you well-equipped with the basic knowledge required to face medical emergencies.

                                          Having a first aid certification helps your family, friends,and sometimes the whole community since accidents and medical emergencies are bound to happen.
                                          
                                           
                                          
                                           .</p>
                                       <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                   </div>
                               </div>
                           </div>
                           <div class="backside">
                               <div class="card">
                                   <div class="card-body text-center mt-4">
                                       <h4 class="card-title">Use of Aid Boxes</h4>
                                       <p class="card-text">A first aid kit is a box, bag or pack that holds supplies used to treat minor injuries including cuts, scrapes, burns, bruises, and sprains. More elaborate first aid kits can also include survival supplies, life-saving emergency supplies or convenience items like bug sting wipes or cold & flu medicines.</p>
                                       <ul class="list-inline">
                                           <li class="list-inline-item">
                                               <a class="social-icon text-xs-center" target="_blank" href="#">
                                                   <i class="fa fa-facebook"></i>
                                               </a>
                                           </li>
                                           <li class="list-inline-item">
                                               <a class="social-icon text-xs-center" target="_blank" href="#">
                                                   <i class="fa fa-twitter"></i>
                                               </a>
                                           </li>
                                           <li class="list-inline-item">
                                               <a class="social-icon text-xs-center" target="_blank" href="#">
                                                   <i class="fa fa-skype"></i>
                                               </a>
                                           </li>
                                           <li class="list-inline-item">
                                               <a class="social-icon text-xs-center" target="_blank" href="#">
                                                   <i class="fa fa-google"></i>
                                               </a>
                                           </li>
                                       </ul>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
               <!-- ./Team member -->
               <!-- Team member -->
               <div class="col-xs-12 col-sm-6 col-md-4">
                   <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                       <div class="mainflip">
                           <div class="frontside">
                               <div class="card">
                                   <div class="card-body text-center">
                                       <p><img class=" img-fluid" src="./assets/images/imgtreatement.jpg" alt="card image"></p>
                                       <h4 class="card-title">Better Treatements</h4>
                                       <p class="card-text">Better treatement means the management and care of a patient to combat disease or diorder.restrictions on activities are not considered treatement unless the primary purpose of the restrictions is to improve the workers condition through conservative care,
                                              the manner of handling or dealing with a person or thing,as in a literary or artistic work . The treatement slag the usual manner of dealing with a particular type of person.complex of characteristics which confirm correspondence of the secured medicalcare to patient requirements,to its expectations,modern level of medical science and technology.
                                       </p>
                                       <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                   </div>
                               </div>
                           </div>
                           <div class="backside">
                               <div class="card">
                                   <div class="card-body text-center mt-4">
                                       <h4 class="card-title">Syringe</h4>
                                       <p class="card-text">a device consisting of a narrow tube fitted at one end with a rubber bulb or piston by means of which a liquid can be drawn in and then ejected in a stream: used to inject fluids into, or extract fluids from, body cavities, to cleanse wounds, etc.</p>
                                       <ul class="list-inline">
                                           <li class="list-inline-item">
                                               <a class="social-icon text-xs-center" target="_blank" href="#">
                                                   <i class="fa fa-facebook"></i>
                                               </a>
                                           </li>
                                           <li class="list-inline-item">
                                               <a class="social-icon text-xs-center" target="_blank" href="#">
                                                   <i class="fa fa-twitter"></i>
                                               </a>
                                           </li>
                                           <li class="list-inline-item">
                                               <a class="social-icon text-xs-center" target="_blank" href="#">
                                                   <i class="fa fa-skype"></i>
                                               </a>
                                           </li>
                                           <li class="list-inline-item">
                                               <a class="social-icon text-xs-center" target="_blank" href="#">
                                                   <i class="fa fa-google"></i>
                                               </a>
                                           </li>
                                       </ul>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
               <!-- ./Team member -->
               <!-- Team member -->
               <div class="col-xs-12 col-sm-6 col-md-4">
                   <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                       <div class="mainflip">
                           <div class="frontside">
                               <div class="card">
                                   <div class="card-body text-center">
                                       <p><img class=" img-fluid" src="./assets/images/imgd.jpg" alt="card image"></p>
                                       <h4 class="card-title">Disease Recovery</h4>
                                       <p class="card-text">Medical conditions,illness and injury can  cause stress that further affects our health.Lifestyle factors-such as worry  and anxiety,stress and tension,diet,exercise,sleep and social support-can aaffect the symptoms of illness and recovery.There are many things can be done to help relieve the symptoms of illness or injury,and improve recovery.Positive thinking,relaxation,a heathy diet,regular exercise,good sleep and social support can all promote health and wellbeing.</p>
                                       <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                   </div>
                               </div>
                           </div>
                           <div class="backside">
                               <div class="card">
                                   <div class="card-body text-center mt-4">
                                       <h4 class="card-title">Microscope</h4>
                                       <p class="card-text">A device that produces a magnified image of objects too small to be seen with the naked eye. Such objects are thus called “microscopic.” The microscope is widely used in medicine and biology. Common microscopes use lenses; others, such as electron microscopes, scan an object with electrons, x-rays, and other radiation besides ordinary visible light.</p>
                                       <ul class="list-inline">
                                           <li class="list-inline-item">
                                               <a class="social-icon text-xs-center" target="_blank" href="#">
                                                   <i class="fa fa-facebook"></i>
                                               </a>
                                           </li>
                                           <li class="list-inline-item">
                                               <a class="social-icon text-xs-center" target="_blank" href="#">
                                                   <i class="fa fa-twitter"></i>
                                               </a>
                                           </li>
                                           <li class="list-inline-item">
                                               <a class="social-icon text-xs-center" target="_blank" href="#">
                                                   <i class="fa fa-skype"></i>
                                               </a>
                                           </li>
                                           <li class="list-inline-item">
                                               <a class="social-icon text-xs-center" target="_blank" href="#">
                                                   <i class="fa fa-google"></i>
                                               </a>
                                           </li>
                                       </ul>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
               <!-- ./Team member -->
               <!-- Team member -->
               <div class="col-xs-12 col-sm-6 col-md-4">
                   <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                       <div class="mainflip">
                           <div class="frontside">
                               <div class="card">
                                   <div class="card-body text-center">
                                       <p><img class=" img-fluid" src="./assets/images/imgcheckuptime.jpg" alt="card image"></p>
                                       <h4 class="card-title">Checkup Time</h4>
                                       <p class="card-text">This is a comprehensive and extensive whole body checkup with 60 tests to confirm the healthiness of each and every organ of your body. Busy routine, eating habits, mental pressure at workplace, hereditary diseases and existing disorders justifies a need for a complete health Checkup. A whole body health check helps in identifying risk factors for chronic diseases and should never be ignored. Schedule your full body checkup today and enjoy optimal health.
                                   </p>
                                       <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                   </div>
                               </div>
                           </div>
                           <div class="backside">
                               <div class="card">
                                   <div class="card-body text-center mt-4">
                                       <h4 class="card-title">Stethoscope</h4>
                                       <p class="card-text">The stethoscope is an acoustic medical device for auscultation, or listening to the internal sounds of an animal or human body. It typically has a small disc-shaped resonator that is placed against the chest, and two tubes connected to earpieces.</p>
                                       <ul class="list-inline">
                                           <li class="list-inline-item">
                                               <a class="social-icon text-xs-center" target="_blank" href="#">
                                                   <i class="fa fa-facebook"></i>
                                               </a>
                                           </li>
                                           <li class="list-inline-item">
                                               <a class="social-icon text-xs-center" target="_blank" href="#">
                                                   <i class="fa fa-twitter"></i>
                                               </a>
                                           </li>
                                           <li class="list-inline-item">
                                               <a class="social-icon text-xs-center" target="_blank" href="#">
                                                   <i class="fa fa-skype"></i>
                                               </a>
                                           </li>
                                           <li class="list-inline-item">
                                               <a class="social-icon text-xs-center" target="_blank" href="#">
                                                   <i class="fa fa-google"></i>
                                               </a>
                                           </li>
                                       </ul>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
               <!-- ./Team member -->
               <!-- Team member -->
               <div class="col-xs-12 col-sm-6 col-md-4">
                   <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                       <div class="mainflip">
                           <div class="frontside">
                               <div class="card">
                                   <div class="card-body text-center">
                                       <p><img class=" img-fluid" src="./assets/images/imgambulance.jpg" alt="card image"></p>
                                       <h4 class="card-title">Active Emergency</h4>
                                       <p class="card-text">The Emergency Medical Services (Ambulance services) of the hospital is the community's main access to the hospital in an emergency and is also the most visible part of the emergency department to the public eye. The EMS consists of Fleet of well equipped ambulances Emergency medical technicians (EMTs) Ambulance drivers EMS Administrator</p>
                                       <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                   </div>
                               </div>
                           </div>
                           <div class="backside">
                               <div class="card">
                                   <div class="card-body text-center mt-4">
                                       <h4 class="card-title">Ambulance</h4>
                                       <p class="card-text">The ambulance service has two main functions: an accident and emergency paramedical function, and the Patient Transport Service function which transfers immobile patients to and from their hospital appointments. There are currently 10 NHS ambulance trusts in England, some of which are now foundation trusts..</p>
                                       <ul class="list-inline">
                                           <li class="list-inline-item">
                                               <a class="social-icon text-xs-center" target="_blank" href="#">
                                                   <i class="fa fa-facebook"></i>
                                               </a>
                                           </li>
                                           <li class="list-inline-item">
                                               <a class="social-icon text-xs-center" target="_blank" href="#">
                                                   <i class="fa fa-twitter"></i>
                                               </a>
                                           </li>
                                           <li class="list-inline-item">
                                               <a class="social-icon text-xs-center" target="_blank" href="#">
                                                   <i class="fa fa-skype"></i>
                                               </a>
                                           </li>
                                           <li class="list-inline-item">
                                               <a class="social-icon text-xs-center" target="_blank" href="#">
                                                   <i class="fa fa-google"></i>
                                               </a>
                                           </li>
                                       </ul>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
               <!-- ./Team member -->
   
           </div>
       </div>
   </section>
   <!-- Team -->  
 <app-footer></app-footer>   

          
            