<div class="container text-center py-5">
    <h1>Latest From Bolg</h1>
    <hr>
     <div class="row">
         <div class="col-1g-3 col-md-6  col-sm-12 col-12">
             <div class="card">
               <div class="card-head">
                   <img src="./assets/images/imgAttitude1.jpg" class="img-fluid"  alt="">
               </div>
               <div class="card-body">
                     <p class="font-weight-bold"><u><a href="#">Attitude of our doctors</a></u></p>
                     <p>One way to measure a particular doctor's openness and attitude toward women general is simply to askabout doctor's opinion of midwifery</p>
               </div>

              </div>
          </div>
          
           <div class="col-1g-3 col-md-6  col-sm-12 col-12">
             <div class="card">
               <div class="card-head">
                   <img src="./assets/images/imgteam.jpg" class="img-fluid" alt="">
               </div>
               <div class="card-body">
                     <p class="font-weight-bold"><u><a href="#">Collaborate With Team</a></u></p>
                     <p> The action of working with someone to produce or create something. While that’s a good general definition, it doesn’t really speak to the variables that are more common to team collaboration in a business environment. For that, we look to a more focused definition of collaboration:</p>
               </div>

              </div>
          </div>
          <div class="col-1g-3 col-md-6  col-sm-12 col-12">
             <div class="card">
               <div class="card-head">
                   <img src="./assets/images/imgideas2.jpg" width="280" class="img-fluid" alt="">
               </div>
               <div class="card-body">
                     <p class="font-weight-bold"><u><a href="#">Working on New ideas</a></u></p>
                     <p> Private nursing service , In-house nursing care , Blogging , Write and sell books or ebooks, Selling medical supplies ,Freelance writing ,Private consultation for patients , Career advisor ,Tutoring ,OTC drugs</p>
               </div>

              </div>
          </div>
           <div class="col-1g-3 col-md-6  col-sm-12 col-12">
             <div class="card">
               <div class="card-head">
                   <img src="./assets/images/imgs2.jpg" class="img-fluid" alt="">
               </div>
               <div class="card-body">
                     <p class="font-weight-bold"><u><a href="#">Satisfication of Our Beloved</a></u></p>
                     <p>A patient satisfaction survey needs to contain the right questions that help elicit a higher number of responses. They also have to be holistic in nature and cover all touch-points of a patient’s medical care while being easy to answer and be a mix of open-ended survey questions and other question types.</p>
               </div>

              </div>
          </div>
        </div>
    </div>
<app-footer></app-footer>