<div id="sect1" class="container">  
  <h2>Hospital Content System</h2>  
  
<section class="home"  id="home">
  <div class="container">
    <div class="row min-vh-100" align-items-center text-center text-md-left>
      <div class="col-md-6 pr-md-5">
           <img src="./assets/images/image3.webp" width="100%" alt="">
           
      </div>
       <div class="col-md-6 p1-md-5 content">
          <h1><span>Stay</span>Safe,<span>Stay</span>Healthy.</h1>
          <h3>Caring For You</h3>
          <a href="#"><button class="button">Read more</button></a>
       </div>
     </div>
     </div>
     </section>

    
  <app-footer></app-footer>

